<a href="https://colab.research.google.com/github/kissomu/colabdtasetpandas/blob/main/newprojectCAR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('2. Cars Data1.csv')

In [4]:
df.head(2)

    Make           Model   Type Origin  ... MPG_Highway  Weight Wheelbase  Length
0  Acura             MDX    SUV   Asia  ...        23.0  4451.0     106.0   189.0
1  Acura  RSX Type S 2dr  Sedan   Asia  ...        31.0  2778.0     101.0   172.0

[2 rows x 15 columns]

# ***Q1 find the null value in data set, if there any null value find cylinder column then replace oit with mean value of that column***

In [6]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      6
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

In [19]:
df['Cylinders'].fillna(df['Cylinders'].mean(),inplace = True)

In [12]:
df.isnull().sum()

Make           4
Model          4
Type           4
Origin         4
DriveTrain     4
MSRP           4
Invoice        4
EngineSize     4
Cylinders      0
Horsepower     4
MPG_City       4
MPG_Highway    4
Weight         4
Wheelbase      4
Length         4
dtype: int64

# ***Q2 what is the different type of make in there in the dta set***

In [21]:
df['Make'].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Nissan           17
Honda            17
Volkswagen       15
Chrysler         15
Mitsubishi       13
Dodge            13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Lexus            11
Kia              11
Pontiac          11
Mazda            11
Mercury           9
Lincoln           9
Buick             9
Infiniti          8
GMC               8
Suzuki            8
Cadillac          8
Saturn            8
Saab              7
Acura             7
Porsche           7
Land Rover        3
Jeep              3
Oldsmobile        3
Isuzu             2
MINI              2
Scion             2
Hummer            1
Name: Make, dtype: int64

# ***Q3 show all the record where origin asia or europe.(filtring)***

In [30]:
df[df['Origin'].isin(['Asia', 'Europe'])].head(50)

      Make                                   Model  ... Wheelbase Length
0    Acura                                     MDX  ...     106.0  189.0
1    Acura                          RSX Type S 2dr  ...     101.0  172.0
2    Acura                                 TSX 4dr  ...     105.0  183.0
3    Acura                                  TL 4dr  ...     108.0  186.0
4    Acura                              3.5 RL 4dr  ...     115.0  197.0
5    Acura                 3.5 RL w/Navigation 4dr  ...     115.0  197.0
6    Acura                  NSX coupe 2dr manual S  ...     100.0  174.0
7     Audi                             A4 1.8T 4dr  ...     104.0  179.0
8     Audi                  A41.8T convertible 2dr  ...     105.0  180.0
9     Audi                              A4 3.0 4dr  ...     104.0  179.0
10    Audi               A4 3.0 Quattro 4dr manual  ...     104.0  179.0
11    Audi                 A4 3.0 Quattro 4dr auto  ...     104.0  179.0
12    Audi                              A6 3.0 4dr  ...     109.0  192.0
13    Audi                      A6 3.0 Quattro 4dr  ...     109.0  192.0
14    Audi                  A4 3.0 convertible 2dr  ...     105.0  180.0
15    Audi          A4 3.0 Quattro convertible 2dr  ...     105.0  180.0
16    Audi                A6 2.7 Turbo Quattro 4dr  ...     109.0  192.0
17    Audi                      A6 4.2 Quattro 4dr  ...     109.0  193.0
18    Audi                        A8 L Quattro 4dr  ...     121.0  204.0
19    Audi                          S4 Quattro 4dr  ...     104.0  179.0
20    Audi                                RS 6 4dr  ...     109.0  191.0
21    Audi          TT 1.8 convertible 2dr (coupe)  ...      95.0  159.0
22    Audi        TT 1.8 Quattro 2dr (convertible)  ...      96.0  159.0
23    Audi          TT 3.2 coupe 2dr (convertible)  ...      96.0  159.0
24    Audi                    A6 3.0 Avant Quattro  ...     109.0  192.0
25    Audi                        S4 Avant Quattro  ...     104.0  179.0
26     BMW                                 X3 3.0i  ...     110.0  180.0
27     BMW                                 X5 4.4i  ...     111.0  184.0
28     BMW                                325i 4dr  ...     107.0  176.0
29     BMW                               325Ci 2dr  ...     107.0  177.0
31     BMW                   325Ci convertible 2dr  ...     107.0  177.0
32     BMW                               325xi 4dr  ...     107.0  176.0
33     BMW                                330i 4dr  ...     107.0  176.0
34     BMW                               330Ci 2dr  ...     107.0  176.0
35     BMW                               330xi 4dr  ...     107.0  176.0
36     BMW                                525i 4dr  ...     114.0  191.0
37     BMW                   330Ci convertible 2dr  ...     107.0  177.0
38     BMW                                530i 4dr  ...     114.0  191.0
40     BMW                               545iA 4dr  ...     114.0  191.0
41     BMW                                745i 4dr  ...     118.0  198.0
42     BMW                               745Li 4dr  ...     123.0  204.0
43     BMW                            M3 coupe 2dr  ...     108.0  177.0
44     BMW                      M3 convertible 2dr  ...     108.0  177.0
45     BMW                 Z4 convertible 2.5i 2dr  ...      98.0  161.0
46     BMW                 Z4 convertible 3.0i 2dr  ...      98.0  161.0
47     BMW                             325xi Sport  ...     107.0  176.0
151  Honda  Civic Hybrid 4dr manual (gas/electric)  ...     103.0  175.0
152  Honda              Insight 2dr (gas/electric)  ...      95.0  155.0
153  Honda                                Pilot LX  ...     106.0  188.0
154  Honda                                 CR-V LX  ...     103.0  179.0

[50 rows x 15 columns]

# ***Q4 Remove all the records where (rows) where weight is above 4000***

In [33]:
df[~(df['Weight']>4000)]

      Make                    Model   Type  ...  Weight Wheelbase Length
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
5    Acura  3.5 RL w/Navigation 4dr  Sedan  ...  3893.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[329 rows x 15 columns]

# ***Q4 Incraese  all the value of MPG_CITY cloumn by 3(applying function on a column)***

In [34]:
df['MPG_City'] = df['MPG_City'].apply(lambda x:x+3)

In [35]:
df

      Make                    Model   Type  ...  Weight Wheelbase Length
0    Acura                      MDX    SUV  ...  4451.0     106.0  189.0
1    Acura           RSX Type S 2dr  Sedan  ...  2778.0     101.0  172.0
2    Acura                  TSX 4dr  Sedan  ...  3230.0     105.0  183.0
3    Acura                   TL 4dr  Sedan  ...  3575.0     108.0  186.0
4    Acura               3.5 RL 4dr  Sedan  ...  3880.0     115.0  197.0
..     ...                      ...    ...  ...     ...       ...    ...
427  Volvo  C70 LPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
428  Volvo  C70 HPT convertible 2dr  Sedan  ...  3450.0     105.0  186.0
429  Volvo               S80 T6 4dr  Sedan  ...  3653.0     110.0  190.0
430  Volvo                      V40  Wagon  ...  2822.0     101.0  180.0
431  Volvo                     XC70  Wagon  ...  3823.0     109.0  186.0

[432 rows x 15 columns]

# ***                             second project done***